<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/common_full_open_on_phone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/common_google_signin_btn_text_dark_normal"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceLiveness">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LivenessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- ML Kit face detection model downloaded on demand -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />

    </application>

</manifest>
